{{ define "main" }}

<div class="columns">
    <div class="column is-9">
        <div class="tile is-child box">
            <div class="content">
                {{ if .Params.img_src }}
                    <figure>
                        <img src="{{ .Params.img_src | absURL }}"  />
                        <figcaption>
                            <!-- <h4>Steve Francia</h4> -->
                        </figcaption>
                    </figure>
                {{end}}
                {{ .Content }}
            </div>
        </div>
    </div>
    <div class="column is-3">
        {{ partial "widget-tags.html" . }}<br>
        {{ partial "widget-recent.html" . }}<br>
        {{ partial "widget-related.html" . }}<br>
        {{ partial "widget-archives.html" . }}
    </div>
</div>

{{ end }}
