<footer class="footer has-background-grey-darker has-text-white">
    <div class="content has-text-centered">
        <p>
            <a class="mysocial" href="/">{{ .Site.Title }} {{ now.Format "2006"}}</a> - Theme by <a href="https://jeffprod.com" class="mysocial">JeffProd.com</a>
            - <a class="mysocial" href="/">Home</a> - <a class="mysocial" href="{{ "about" | absURL }}">About</a> - <a class="mysocial" href="{{ .RSSLink }}"><i class="fa fa-rss" aria-hidden="true"></i></a>
        </p>
    </div>
</footer>

<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
</body>
</html>
